.container-cooking {
    max-width: 1400px;
    width: 90%;
    margin: 2rem auto;
    // border: 1px solid #d1d5db;
    // border-radius: 10px;
    padding: 1rem;

    .cooking-title {
        letter-spacing: -0.025em;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.2rem;
        line-height: 2rem;
        color: #001B32;

        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
        }
    }

    .cooking-subtitle {
        color: #6c757d;
        font-size: 1rem;
        font-weight: 500;

        @media screen and (min-width: 768px) {
            font-size: 1.2rem;
        }
    }
}