.modal-overlay {
  position: absolute;
  top: 0;
  z-index: 40;
  display: grid;
  height: 105vh;
  width: 100vw;
  place-items: center;
  backdrop-filter: blur(5px);

  .modal-content {
    position: relative;
    z-index: 50;
    margin: auto;
    // min-height: 200px; /**/
    // min-width: 300px;
    // max-width: 900px;
    width: 80%;
    background-color: #fbfbef;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #001b32;

    .modal-close {
      display: flex;
      justify-content: flex-end;

      .logo-close {
        font-size: 20px;
        cursor: pointer;
        border: 1px solid #001b32;
        border-radius: 25%;
        background-color: #b91c1c;
        color: #fff;

        &:hover {
          background-color: #ef4444;
          transform: scale(1.1);
        }
      }
    }
  }
}
