.container-cookingId {
  max-width: 1400px;
  min-height: 100vh;
  margin: auto;

  .btn-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and (min-width: 768px) {
      gap: 2rem;
    }

    .return-home {
      margin-left: 1rem;
      width: 40px;
      height: 40px;
      cursor: pointer;
      color: #fff;
      background-color: #001b32;
      border-radius: 50%;
      padding: 5px;
    }

    .btn-admin {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      @media screen and (min-width: 768px) {
        gap: 1rem;
      }

      .return-dashboard{
        background-color: #fbfbef;

      }

      .btn-update {
        background-color: #fff391;
      }

      .btn-update,
      .return-dashboard {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #d1d5db;
        height: 30px;
        width: 90px;
        padding: 5px;
        border-radius: 25px;
        font-weight: 500;

        @media screen and (min-width: 768px) {
          height: 40px;
          width: 100px;
          background-color: #fbfbef;

          &:hover {
            background-color: #b6b659;
          }
        }
      }
    }
  }

  .title-cookingId {
    text-align: center;
    text-transform: capitalize;
    color: #001b32;
    margin-top: 2rem;

  }

  .user-cookingId {
    color: #6c757d;
    text-align: right;
    margin-right: 2rem;
  }

  .content-ingredient-img {
    margin: 0 2rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;

    @media screen and (min-width: 768px) {
      margin: 4rem 2rem 2rem;
      flex-direction: row;
      justify-content: space-between;
    }

    .list-cookingId {
      display: flex;
      flex-direction: column;
      border: 1px solid #d1d5db;
      border-radius: 10px;
      padding: 0.75rem;
      width: 100%;
      height: 100%;
      color: #001b32;

      @media screen and (min-width: 768px) {
        width: 40%;
      }
    }

    .img-cookingId {
      width: 100%;
      height: 150px;
      object-fit: cover;

      @media screen and (min-width: 768px) {
        width: 60%;
        height: 500px;
      }
    }
  }

  .preparation-cookingId {
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 0.75rem;
    color: #001b32;
    min-height: 300px;
    margin: 0 2rem 2rem;
    line-height: 3rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .list-style {
    list-style-type: upper;

    &::first-letter {
      text-transform: capitalize;
    }

    &::marker {
      font-weight: 600;
    }
  }

  .pdf-preview {
    margin-left: 5%;

    a {
      color: #001b32;
    }
  }

  .view-pdf {
    display: block;
    margin: 0.5rem auto;
    width: 80%;
    height: 100vh;
  }

  .link-cookingId {
    margin: 3rem 2rem 2rem;
    height: 100vh;


    @media screen and (min-width: 768px) {
      font-size: 18px;
    }

    .link-cookingId-text {
      color: #001b32;
      font-size: 18px;
      overflow-wrap: anywhere;
      margin-bottom: 2rem;

      .name-cookingId {
        text-transform: capitalize;
        font-weight: 600;
      }
    }

    .site-preview {

      .site-preview-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 2rem;

        @media screen and (min-width: 768px) {
          height: 400px;
        }
      }
    }

    // .link-cookingId-iframe {
    //   width: 100%;
    //   height: 75%;
    // }
  }
}
