.container-footer {
  background-color: rgb(251, 251, 239);
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1.25rem;
  border-top: 1px solid #d1d5db;

  .footer-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-site {
      width: 70px;
      height: 70px;
    }

    .content-link-footer {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-bottom: 30px;

      .link-contact {
        text-decoration: none;
        color: #001b32;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
  
        @media (min-width: 768px) {
          font-size: 16px;
        }
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }

  }

  .copyright {
    display: flex;
    justify-content: center;
    font-size: 12px;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
}
