.CookieConsent {
    font-size: 16px;
    height: 220px;
    max-width:1440px !important;
    margin: auto !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 10px 50px 40px 50px ;

    @media screen and (min-width: 768px) {
        font-size: 20px;
    }

    div:first-child {
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    button {
        @media screen and (min-width: 768px) {
            font-size: 20px !important;
        }
    }

    .link-cookie {
        font-weight: 700;
        color: #92f0fc;
    }
}